
body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.title {
  font-size: 6em;
}

.hero-image {
    max-width: 85%;
    height: auto;
}

.map {
  max-width: 100%;
  height: auto;
}
